@use "../../styles/variables" as *;
@use "../../styles/mixins/button-base" as *;

.tasks-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1.5rem;
    justify-content: start; 
    align-items: start; 
    max-width: 1500px; 
    margin: 0 auto; 
    padding: 2rem; 
}

.add-task-btn {
    @include buttonBaseStyle($primary-color, $secondary-color);
    width: auto;
    padding: 1rem 2rem;
    text-decoration: none;
    margin-bottom: 1.5rem; 
}

.task {
    width: 100%; 
    max-width: 400px; 
    background: $background-color2;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    text-align: left;
    box-sizing: border-box; 
    min-height: 220px;
}

.task p {
    font-size: 20px;
    margin-bottom: 0.5rem;
    line-height: 1.5;

    strong {
        font-weight: bold;
    }
}

.task .btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    width: auto;
}


@media (max-width: 768px) {
    .tasks-container {
        grid-template-columns: 1fr;
    }
}
