.modal-overlay {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: transparent; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
  }
  
  .modal-content {

    background: white; 
    padding: 20px; 
    border-radius: 8px; 
    max-width: 500px; 
    width: 90%; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }