@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

// Font Family
$font-family-primary: "Lexend Deca", sans-serif;
// Colors
$primary-color: #5F33E1;
$secondary-color: #502bc0;
$background-color1: #f9f9f9;
$background-color2: #FFFFFF;
$text-color: #24252C;
$text-color2: #FFFFFF;
$text-color3: #6E6A7C;
