@use "../../styles/variables" as *;
@use "../../styles/mixins/button-base" as *;
.container-addproject{
    margin:auto;
    padding:34px;
    .invalid-feedback {
        color: red;
        font-size: 0.875em;
        margin-top: 0.25rem;
        display: block;
    }
    .addproject-header{
        font-size: 19px;
        font-weight: 600;
        line-height: 23.75px;
        text-align: center;
        .addproject-icon{     
            height:50px;
            fill: $text-color;
            
        }
        #addproject-icon--arrow{
            transform: rotate(180deg)
        }
    }
    .btn{
        @include buttonBaseStyle($primary-color, $secondary-color);

    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        background: url("../../assets/icons/Triangle.svg") no-repeat;
      }
}