@use "../../styles/mixins/button" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins/text-center" as *;
@use "../../styles/mixins/form-control" as *;


.text-center {
  @include text-center();

  .form-control {
    @include form-control-style();
  }

  .btn-primary {
    @include button-styles($primary-color, $secondary-color);
  }
  
  h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: $text-color;
  }
}
