@use "../variables" as *;

@mixin form-control-style($radius: 8px, $padding: 12px, $font-size: 16px) {
  border-radius: $radius;
  padding: $padding;
  font-size: $font-size;
  border: 1px solid $text-color3;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: $primary-color;
    outline: none;
  }
}
